{% extends "diet_optimizer_website/layout.html" %}

{% block content %}
  <main class="about-section">
    <div class="container">

    <h2>About Diet Optimizer</h2>
    <br/>
    <p>Welcome to Diet Optimizer!</p>
    <br/>
    <p>Diet Optimizer is committed to finding you the best recipes that suit your customized diet. We cater to all diets, restrictions, cuisines, etc.</p>
    <br/>
    <p>By just entering some information about yourself, as well as the type of recipes you are looking for, Diet Optimizer will generate a list of recipes and foods from popular websites for you. Once logged in, visit the ‘Settings’ page to keep your preferences up-to-date and even save your go-to recipe settings.</p>
    <br/>
    <p>Be sure to check out your ‘History’ page to revisit your favorite recipes and our ‘Most Famous Recipes’ page to see what recipes others are loving!</p>

    </div>
  </main>
{% endblock %}
